*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    
}

.top-section{
    color: var(--type-color);
    background-color: white;
}
.top-section h2{
    position: absolute;
    right: 10px;
    color: var(--type-color);
}


.bottom-section{
    background: var(--type-color);
    color: white;
    font-size: 20px;
    width: 100%;
}

img{
    box-sizing: border-box;
    width: 100%;
}

.seccion{
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    width: 300px; 
    border: 4px solid var(--type-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: fit-content;
    
}

@media (width < 600px) {

    .top-section h2{
        font-size: 10px;
        color: var(--type-color);
    }
    
    .bottom-section{
        font-size: 10px;
        border-radius: 0px 0px 10px 10px;
    }
    
    .seccion img{
        box-sizing: border-box;
        /* width: 100%; */
    }
    
    .seccion{
        /* width: 32%;  */
        min-width: 108px;
        max-width: 300px;
        flex: 1
    }
    
}