.top-section{
    background: var(--type-color);
}

.bottom-section h2{
    color: var(--type-color);
}
body{
    display: flex;
    flex-direction: wrap;
}
section {
    display: flex;
    flex-direction: column;
    width: 500px;
}