:root {
  font-family: "Poppins" , sans-serif;
  
  color-scheme: Primary
  color #dc0a2d;
  
  color-scheme: Bug
  color #A7B723;

  color-scheme: Dark
  color #75574C;

  color-scheme: Dragon
  color #7037FF;

  color-scheme: Electric
  color #F9CF30;

  color-scheme: Fairy
  color #E69EAC;

  color-scheme: Fighting
  color #C12239;

  color-scheme: Fire
  color #F57D31;

  color-scheme: Flying
  color #A891EC;

  color-scheme: Ghost
  color #70559B;

  color-scheme: Normal
  color #AAA67F;

  color-scheme: Grass
  color #74CB48;

  color-scheme: Ground
  color #DEC16B;

  color-scheme: Ice
  color #9AD6DF;

  color-scheme: Poison
  color #A43E9E;

  color-scheme: Psychic
  color #FB5584;

  color-scheme: Rock
  color #B69E31;

  color-scheme: Steel
  color #B7B9D0;

  color-scheme: Water
  color #6493EB;

  color-scheme: Grayscale
  color #212121
  color #666666
  color #E0E0E0
  color #EFEFEF
  color #FFFFFF;
}


.grass {
--type-color: green;
}
.fire {
  --type-color: red;
}
